.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}



#block-yui_3_17_2_1_1621992704813_5897 {
  background-color: #ff0725;
  border-radius: 10px;
  margin: 10px;
  height: 558px;
}

#block-yui_3_17_2_1_1621992648071_5648 {
  background-color: #faff07;
  color: #000;
  border-radius: 10px;
  margin: 10px;
  min-height: 31rem;
}